.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.text-block {
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  white-space: pre-wrap; /* This will preserve spaces and new lines */
  min-height: 100px;
}

.stats-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.stat-box {
  text-align: center;
}

.stat-number {
  font-size: 1.5em;
  font-weight: bold;
}

.try-again-button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.try-again-button:hover {
  background-color: #0056b3;
}
